<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CWB Resto</title>
  </head>
  <body>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home">
            <img src="./bx_bxs-store-alt.svg" alt="">
          </a></li>
          <li><a href="#">
            <img src="./Frame 65.svg" alt="">
          </a></li>
          <li><a href="#">
            <img src="./Frame 66.svg" alt="">
          </a></li>
          <li><a href="#/setting">
            <img src="./Frame 67.svg" alt="">
          </a></li>
        </ul>
      </nav>
    </header>

    <main id="mainContent"></main>
  </body>
</html>
